[Channel Parameters]
Q1 left plunger = 0
Q1 cutter = 1
Q1 right plunger = 4
Q2 left plunger = 8
Q2 cutter = 9
Q2 right plunger = 13

[Decadac Channel Labels]
0 = Q1 left plunger (ch0 BoB-6->21)
1 = Q1 cutter (ch1 BoB-4->23)
4 = Q1 right plunger (ch4 BoB-2->50)
8 = Q2 left plunger (ch8 BoB-18->9)
9 = Q2 cutter (ch9 BoB-20->7)
13 = Q2 right plunger (ch13 BoB-24->3)

[Decadac Range]
min_volt = -10
max_volt = 10

[Decadac Channel Limits]
0 = -10 10
1 = -10 10
4 = -10 10
8 = -10 10
9 = -10 10
13 = -10 10

[Decadac Channel Ramp Setttings]
0 = 0.1 0.07
1 = 0.1 0.07
4 = 0.1 0.07
8 = 0.1 0.07
9 = 0.1 0.07
13 = 0.1 0.07

[Gain Settings]
iv gain = 1e8
ac factor = 1e5
dc factor = 1e3

[Ramp speeds]
max rampspeed qdac = 1
max rampspeed bias = 0.8e-2
max rampspeed bg = 1