[VNA Measurement Settings] 
bare_res_freq = None
expected_qubit_freq = None
g_value = None
gate_volt = None
pushed_res_freq = None

[Alazar Measurement Settings]
cavity_freq = None
cavity_pow = -40
demod_freq = 15e6
int_time = 5e-7
int_delay = 1e-6
localos_pow = 15
pi_pulse_pow = -20
qubit_freq = None
spec_pow = -30

[Pulse Parameters]
cycle_time = 20e-6
drag_coef = 0.5
marker_readout_delay = 0
marker_time = 500e-9
pi_half_pulse_amp = 0.5
pi_pulse_amp = 1
pi_pulse_dur = None
pi_pulse_sigma = None
pulse_end = 10e-6
pulse_mod_time = 1.5e-6
pulse_readout_delay = 30e-9
qubit_spec_time = 1e-6
readout_amp = 1
readout_time = 4e-6
sample_rate = 1e9
sigma_cutoff = 4
z_half_pulse_amp = None
z_pulse_amp = None
z_pulse_dur = None
